apiVersion: apps/v1
kind: Deployment
metadata:
    name: service-b
    labels:
        app: service-b
spec:
    replicas: 3
    selector:
        matchLabels:
            app: service-b
    template:
        metadata:
            labels:
                app: service-b
        spec:
            containers:
                - name: service-b
                  ports:
                      - containerPort: 81
                  env:
                      - name: PORT
                        value: '3000'
                      - name: LOG_LEVEL
                        value: log,error,warn,debug
                      - name: DATABASE_HOST
                        value: redis
